<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">WebsiteBooking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/hotels">Khách sạn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/apartments">Căn hộ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/activities">Hoạt động</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/coupons">Phiếu giảm giá</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-primary" href="/login">Đăng nhập</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="btn btn-primary" href="/register">Đăng ký</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
